@using ICan.Common.Models.Enums
@model IEnumerable<ICan.Common.Models.Opt.RequisitesModel>
@{ var title = "Реквизиты";
                ViewData["Title"] = title; }
<h2>@title</h2>
<hr />
<p>
    <a asp-action="Create">Создать</a>
</p>
<span class="text-success">@TempData["StatusMessage"]</span>
<span class="alert-danger">@TempData["ErrorMessage"]</span>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequisitesText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUsed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.ActionLink(item.Owner, "Edit", "Requisites", new { id = item.RequisitesId })
    </td>
    <td>
        @Html.Raw(item.RequisitesText)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastUsed)
    </td>
    <td>
        @item.ClientType.GetName()
    </td>
    <td style="width:7%">
        <a asp-action="Edit" asp-route-id="@item.RequisitesId"><i class="far fa-edit"></i></a>
        <span>|</span><form asp-action="Delete" style="display: inline" asp-route-id="@item.RequisitesId">
            <i class="submit index far fa-times-circle" style="color:rgb(0, 123, 255)"></i>
        </form>
    </td>
</tr>}
    </tbody>
</table>
