@model IEnumerable<ICan.Common.Models.Opt.SpringModel>

@{
    var title = "Пружины";
    ViewData["Title"] = title;
}

<h2>@title</h2>

<span class="text-success">@TempData["StatusMessage"]</span>
<span class="alert-danger">@TempData["ErrorMessage"]</span>

<p>
    <a asp-action="Create">Создать</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th style="max-width:200px">
                @Html.DisplayNameFor(model => model.SpringName)
            </th>
            <th style="max-width:220px">
                @Html.DisplayNameFor(model => model.BlockThickness)
            </th>
            <th style="max-width:220px">
                @Html.DisplayNameFor(model => model.NumberOfTurns.NumberOfTurns)
            </th>
            <th style="max-width:220px">
                @Html.DisplayNameFor(model => model.Step)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SpringName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BlockThickness)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfTurns.NumberOfTurns)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Step)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SpringId"><i class="far fa-edit"></i></a> |
                    <form asp-action="Delete" asp-route-id="@item.SpringId" style="display: inline">
                        <i class="submit index far fa-times-circle" style="color:rgb(0, 123, 255)"></i>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>