@model ICan.Common.Models.Opt.NotchOrderModel

@{
	var title = "Создание заказа надсечки";
	ViewData["Title"] = title;
}

<h2>@title</h2>

<hr />

<span class="alert-danger">@TempData["ErrorMessage"]</span>
<span class="text-success">@TempData["StatusMessage"]</span>

<form asp-action="Create" method="post">
	<div class="row">
		<div class="col-5">
			<div class="form-group">
				<label asp-for="NotchOrderNumber" class="control-label"></label>
				<sup><i class="fas fa-asterisk" style="font-size: 10px; color: red"></i></sup>
				<input asp-for="NotchOrderNumber" class="form-control" />
				<span class="text-danger field-validation-error" data-valmsg-for="NotchOrderNumber" data-valmsg-replace="true"> </span>
			</div>
			<div class="form-group">
				<label asp-for="OrderDate" class="control-label"></label>
				@Html.TextBoxFor(Model => Model.OrderDate, "{0:dd.MM.yyyy HH:mm}", new { @type = "datetime", @class = "form-control" })
			</div>
			<div class="form-group">
				<label asp-for="OrderSum" class="control-label"></label><br />
				<input asp-for="OrderSum" class="formatted-number form-control" step="0.01" placeholder="0.00" />
			</div>

			<div class="form-group">
				<label asp-for="ShipmentDate" class="control-label"></label>
				@Html.TextBoxFor(Model => Model.ShipmentDate, "{0:dd.MM.yyyy HH:mm}", new { @type = "date", @class = "form-control" })
			</div>

			<div class="form-group">
				<label asp-for="ShipmentSum" class="control-label"></label><br />
				<input asp-for="ShipmentSum" class="formatted-number form-control" step="0.01" placeholder="0.00" />
			</div>

			<div class="form-group">
				<input type="submit" value="Сохранить" class="btn btn-default" />
			</div>
			<div>
				<a href="@Url.Action("Index")">Назад</a>
			</div>
		</div>
		<div class="col-7">
			<div class="common-list-notch-order-stickers">
				<div class="form-group">
					<label class="control-label">Наклейки</label>
				</div>
				<button class="btn btn-link add-stickers" type="button" style="margin-bottom: 10px">Добавить наклейки</button>
				<div class="added-notch-order-stickers">
				</div>
			</div>
		</div>
	</div>
</form>
<script src="~/js/notchOrder.js" asp-append-version="true"></script>
<style>
	.center-items {
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>
